.logo-element {
  position: absolute;
  height: 63.75%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 36.25%;
  left: 0;
  background-color: var(--color-gainsboro-200);
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.5);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.available2,
.forum2,
.home2,
.suggestion2 {
  position: absolute;
  height: 52.5%;
  width: 6.22%;
  top: 17.5%;
  left: 57.08%;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
}
.available2,
.forum2,
.suggestion2 {
  width: 7.8%;
  left: 64.55%;
}
.forum2,
.suggestion2 {
  width: 6.22%;
  left: 87.04%;
}
.suggestion2 {
  width: 9.39%;
  left: 75.4%;
}
.logo-1-icon2 {
  position: absolute;
  height: 76.25%;
  width: 7.21%;
  top: 0;
  right: 89.09%;
  bottom: 23.75%;
  left: 3.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.component-22 {
  align-self: stretch;
  height: 80px;
  position: relative;
  z-index: 2;
}
.frame-item {
  height: 927px;
  width: 1512px;
  position: relative;
  background-color: var(--color-dimgray-100);
  display: none;
  max-width: 100%;
}
.name {
  width: 154px;
  height: 46px;
  display: inline-block;
  flex-shrink: 0;
}
.enrollment-id,
.name,
.product-details {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.enrollment-id {
  width: 255px;
  display: inline-block;
}
.product-details {
  align-self: stretch;
}
.frame-wrapper,
.name-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.name-parent {
  align-self: stretch;
  gap: 87px;
}
.frame-wrapper {
  width: 323px;
  padding: 270px 0 0;
  box-sizing: border-box;
  min-width: 323px;
  max-width: 100%;
}
.na-k-1500x-1-1 {
  height: 339px;
  width: 589px;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
}
.macbook-pro-14-3,
.rectangle-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.rectangle-group {
  align-self: stretch;
  background-color: var(--color-dimgray-100);
  overflow-y: auto;
  flex-direction: row;
  padding: var(--padding-base) 102px 333px;
  box-sizing: border-box;
  row-gap: 20px;
  max-width: 100%;
  margin-top: -29px;
  font-size: var(--font-size-16xl);
  color: var(--color-white);
  font-family: var(--font-inder);
}
.macbook-pro-14-3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  letter-spacing: normal;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inria-sans);
}
@media screen and (max-width: 1125px) {
  .frame-wrapper,
  .na-k-1500x-1-1 {
    flex: 1;
  }
  .rectangle-group {
    flex-wrap: wrap;
    padding-left: var(--padding-32xl);
    padding-right: var(--padding-32xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1025px) {
  .enrollment-id,
  .name,
  .product-details {
    font-size: var(--font-size-9xl);
  }
  .rectangle-group {
    padding-bottom: 216px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .frame-wrapper {
    padding-top: var(--padding-base);
    box-sizing: border-box;
  }
  .rectangle-group {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    padding-bottom: 140px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .available2,
  .forum2,
  .suggestion2 {
    font-size: var(--font-size-base);
  }
  .enrollment-id,
  .name,
  .product-details {
    font-size: var(--font-size-2xl);
  }
  .name-parent {
    gap: 43px 87px;
  }
}
